{% extends "base.html.twig" %}

{% block name %}Contact{% endblock %}

{% block body %}
    <h1 class="text-center mt-10 font-bold text-3xl"><strong>Contact</strong></h1>
    <p class="text-center mt-5">Vous pouvez nous contacter à l'adresse suivante : contact@exemple.com</p>
{% endblock %}