<div>
    <h1></h1>
    <ul>
        <li><a href="{{ path('index') }}">Accueil</a></li>
        <li><a href="{{ path('liste') }}">Films</a></li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
    </ul>
</div>
